name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Dependencies install
        run: apt-get install libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev gettext
      - name: Build
        run: cargo build
